<center><b><h1>Assignment_2_Pandas</h1></b></center>

<div class = "alert alert-block alert-info"
    <b>1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.</b>
</div>

In [1]:
import pandas as pd
df1 = pd.Series([1,2,3,4,5])
df1

C:\Users\DAI.STUDENTSDC\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

0    1
1    2
2    3
3    4
4    5
dtype: int64

<div class = "alert alert-block alert-info"
    <b>2. Write a Pandas program to convert a Panda module Series to Python list and it's type.</b>
</div>

In [2]:
df2 = pd.Series([1,2,3,4,5])
print(f"Pandas Series:\n", df2)
lst = df2.tolist()
print(f"\nPandas module Series to python list: \n {lst}\n and it's type is: \n {type(lst)}")

Pandas Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

Pandas module Series to python list:
 [1, 2, 3, 4, 5]
 and it's type is:
 <class 'list'>

<div class = "alert alert-block alert-info"
    <b>3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.<br>
    <b>Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]</b>
</div>

In [3]:
df1 = pd.Series([2, 4, 6, 8, 10])
df2 = pd.Series([1, 3, 5, 7, 9])
print(f"\nOriginal df1:\n {df1}\n")
print(f"\nOriginal df2:\n {df2}\n")
print(f"\nTwo Pandas Series Addition:\n {df1+df2}\n")
print(f"\nTwo Pandas Series Subtraction:\n {df1-df2}\n")
print(f"\nTwo Pandas Series Multiply:\n{df1*df2}\n")
print(f"\nTwo Pandas Series divide:\n{df1/df2}\n")

Original df1:
 0     2
1     4
2     6
3     8
4    10
dtype: int64


Original df2:
 0    1
1    3
2    5
3    7
4    9
dtype: int64


Two Pandas Series Addition:
 0     3
1     7
2    11
3    15
4    19
dtype: int64


Two Pandas Series Subtraction:
 0    1
1    1
2    1
3    1
4    1
dtype: int64


Two Pandas Series Multiply:
0     2
1    12
2    30
3    56
4    90
dtype: int64


Two Pandas Series divide:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

<div class = "alert alert-block alert-info"
    <b>4. Write a Pandas program to compare the elements of the two Pandas Series.
<br>
    <b>Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]</b>
</div>

In [4]:
df1 = pd.Series([2, 4, 6, 1, 10])
df2 = pd.Series([1, 3, 5, 7, 9])
print(f"\nOriginal df1:\n {df1}\n")
print(f"\nOriginal df2:\n {df2}\n")

print(f"\nTwo Pandas Series Equal compare:\n {df1==df2}\n")
print(f"\nTwo Pandas Series Equal Greater:\n {df1>df2}\n")
print(f"\nTwo Pandas Series Equal Lesser:\n {df1<df2}\n")

Original df1:
 0     2
1     4
2     6
3     1
4    10
dtype: int64


Original df2:
 0    1
1    3
2    5
3    7
4    9
dtype: int64


Two Pandas Series Equal compare:
 0    False
1    False
2    False
3    False
4    False
dtype: bool


Two Pandas Series Equal Greater:
 0     True
1     True
2     True
3    False
4     True
dtype: bool


Two Pandas Series Equal Lesser:
 0    False
1    False
2    False
3     True
4    False
dtype: bool

<div class = "alert alert-block alert-info"
    <b>5. Write a Pandas program to convert a dictionary to a Pandas series.
<br>
    <b>Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}<br>
Converted series:<br>
a 100
b 200
c 300
d 400
e 800<br>
dtype: int64</b>
</div>

In [5]:
dict1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
df = pd.Series(dict1)
df

a    100
b    200
c    300
d    400
e    800
dtype: int64

<div class = "alert alert-block alert-info"
    <b>6. Write a Pandas program to convert a NumPy array to a Pandas series.
<br>
    <b>Sample Series:
NumPy array:
[10 20 30 40 50]<br>
Converted Pandas series:<br>
0 10
1 20
2 30
3 40
4 50
dtype: int64</b>
</div>

In [6]:
import numpy as np
arr1 = np.array([10,20,30,40,50])
df1 = pd.Series(arr1)
print(df1)

0    10
1    20
2    30
3    40
4    50
dtype: int32

<div class = "alert alert-block alert-info"
    <b>7. Write a Pandas program to change the data type of given a column or a Series.
    <br>
    <b>Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object<br>
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64</b>
</div>

In [7]:
df1 = pd.Series([100,200,'Python',300.12,400])
print(f"Type of Original series dtype:  {df1.dtype}")

df2 = pd.to_numeric(df1, errors='coerce')
print(f"Type of Change series dtype:  {df2.dtype}")

Type of Original series dtype:  object
Type of Change series dtype:  float64

<div class = "alert alert-block alert-info"
    <b>8. Write a Pandas program to convert the first column of a DataFrame as a Series.
</div>

In [8]:
df = pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]})
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [9]:
df1 = pd.Series(data=df['col1'])
df1

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

<div class = "alert alert-block alert-info"
    <b>9. Write a Pandas program to convert a given Series to an array.
</div>

In [10]:
print(f"Given Series:\n{df1}\n")

arr2 = np.array(df1)
print(f"Array from given series:\n{arr2}\n")

Given Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

Array from given series:
[ 1  2  3  4  7 11]

<div class = "alert alert-block alert-info"
    <b>10. Write a Pandas program to convert Series of lists to one Series.
</div>

In [11]:
s1 = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s1)

# s.apply(pd.Series): This transforms each list in the Series into a new DataFrame where each list element becomes a column.

s2 = s1.apply(pd.Series)
print(f"\nAfter Applying .apply:\n {s2}")

# The result looks like:
#      0      1      2
# 0  Red  Green  White
# 1  Red  Black   NaN
# 2  Yellow   NaN   NaN

# stack(): This function collapses the DataFrame into a Series, stacking the columns into a single column and dropping NaN values.
# The result looks like:

s2 = s2.stack().reset_index(drop=True)
print("\nOne Series: ")
print(s2)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

After Applying .apply:
         0      1      2
0     Red  Green  White
1     Red  Black    NaN
2  Yellow    NaN    NaN

One Series:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

<div class = "alert alert-block alert-info"
    <b>11. Write a Pandas program to sort a given Series.
</div>

In [12]:
print(f"Original series:\n{s2}")
s3 = s2.sort_values()
print(f"\nAfter sorting the series:\n{s3}")

Original series:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

After sorting the series:
4     Black
1     Green
0       Red
3       Red
2     White
5    Yellow
dtype: object

<div class = "alert alert-block alert-info"
    <b>12. Write a Pandas program to add some data to an existing Series.
</div>

In [13]:
print(f"Original series:\n{s2}")

print("\nData Series after adding some data:")
new_s = pd.concat([s2, pd.Series([500, 30.45])], ignore_index=True)
print(new_s)

Original series:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Data Series after adding some data:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
6     500.0
7     30.45
dtype: object

<div class = "alert alert-block alert-info"
    <b>13. Write a Pandas program to create a subset of a given series based on value and condition.
</div>

In [14]:
s = pd.Series([1,2,3,4,6,7,0,8,5,10])

print(f"Original series:\n{s}")

n= 5
print(f"\nTo create a subset of a given series based on value and condition:\n{s[s<n]}")

Original series:
0     1
1     2
2     3
3     4
4     6
5     7
6     0
7     8
8     5
9    10
dtype: int64

To create a subset of a given series based on value and condition:
0    1
1    2
2    3
3    4
6    0
dtype: int64

<div class = "alert alert-block alert-info"
    <b>14. Write a Pandas program to change the order of index of a given series.
</div>

In [15]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("\nData Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64

Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

<div class = "alert alert-block alert-info"
    <b>15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.
</div>

In [16]:
print(f"Original series:\n{s}\n")

print(f"The mean: \n{s.mean()}\nStandard deviation:\n{s.std()}")

Original series:
B    2
A    1
C    3
D    4
E    5
dtype: int64

The mean:
3.0
Standard deviation:
1.5811388300841898

<div class = "alert alert-block alert-info"
    <b>16. Write a Pandas program to get the items of a given series not present in another given series.
</div>

In [17]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("Series_1:")
print(sr1)
print("\nSeries_2:")
print(sr2)
print("\nItems of sr1 not present in sr2:")
result = sr1[~sr1.isin(sr2)]
print(result)

Original Series:
Series_1:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Series_2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

<div class = "alert alert-block alert-info"
    <b>17. Write a Pandas program to get the items which are not common of two given series.
</div>

In [18]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("Series_1:")
print(sr1)
print("\nSeries_2:")
print(sr2)

print("\nWhich are not common of two given series:")
sr11 = pd.Series(np.union1d(sr1, sr2))  # all the elements in sr11 = sr1+sr2
sr22 = pd.Series(np.intersect1d(sr1, sr2)) # all the common element
result = sr11[~sr11.isin(sr22)]   

print(result)

Original Series:
Series_1:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Series_2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Which are not common of two given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

<div class = "alert alert-block alert-info"
    <b>18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and
maximum of a given series.
</div>

In [19]:
num_series = pd.Series(np.random.randint(0,100,20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0     43
1      2
2     42
3     77
4     87
5     21
6     34
7     42
8     67
9     14
10    45
11    16
12    76
13    33
14    58
15    29
16    76
17    65
18    53
19    11
dtype: int32

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 2.  27.  42.5 65.5 87. ]

<div class = "alert alert-block alert-info"
    <b>19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.</div>   
</div>

In [20]:
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print("Original Series:")
print(num_series)
print("\nFrequency of each unique value of the said series.")
result = num_series.value_counts()
print(result)

Original Series:
0     9
1     3
2     6
3     9
4     0
5     4
6     6
7     3
8     8
9     6
10    5
11    4
12    5
13    6
14    6
15    5
16    9
17    1
18    2
19    4
20    7
21    8
22    4
23    4
24    0
25    9
26    5
27    2
28    1
29    3
30    3
31    3
32    0
33    6
34    9
35    0
36    6
37    5
38    7
39    5
dtype: object

Frequency of each unique value of the said series.
6    7
5    6
9    5
3    5
4    5
0    4
8    2
1    2
2    2
7    2
Name: count, dtype: int64

<div class = "alert alert-block alert-info"
    <b>20. Write a Pandas program to display most frequent value in a given series and replace
everything else as 'Other' in the series.</div>   
</div>

In [21]:
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     2
1     2
2     3
3     3
4     4
5     1
6     2
7     3
8     1
9     1
10    4
11    1
12    4
13    2
14    1
dtype: int32
Top 2 Freq: 1    5
2    4
3    3
4    3
Name: count, dtype: int64
0     Other
1     Other
2     Other
3     Other
4     Other
5         1
6     Other
7     Other
8         1
9         1
10    Other
11        1
12    Other
13    Other
14        1
dtype: object

<div class = "alert alert-block alert-info"
    <b>21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.</div>   
</div>

In [22]:
s1 = pd.Series([1,9,10,6,9,7,1,1,1])
position = np.where(s1 % 5 == 0)
print(position)

(array([2], dtype=int64),)

<div class = "alert alert-block alert-info"
    <b>22. Write a Pandas program to extract items at given positions of a given series.</div>   
</div>

In [23]:
srs1 = pd.Series([1,2,0,3,4,5,7,9,10,20,21,11,12])
element_pos = [0, 2, 6, 11]

print("Original Series:")
print(srs1)
result = srs1.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0      1
1      2
2      0
3      3
4      4
5      5
6      7
7      9
8     10
9     20
10    21
11    11
12    12
dtype: int64

Extract items at given positions of the said series:
0      1
2      0
6      7
11    11
dtype: int64

<div class = "alert alert-block alert-info"
    <b>23. Write a Pandas program to get the positions of items of a given series in another
given series.</div>   
</div>

In [24]:
s1 = pd.Series([1,2,0,3,4,5,7,9,10,20,21,11,12])
s2 = pd.Series([2,7,21,10])

print("Original Series1:")
print(s1)
print("\nOriginal Series2:")
print(s2)

result = [pd.Index(s1).get_loc(i) for i in s2]
print(result)

Original Series1:
0      1
1      2
2      0
3      3
4      4
5      5
6      7
7      9
8     10
9     20
10    21
11    11
12    12
dtype: int64

Original Series2:
0     2
1     7
2    21
3    10
dtype: int64
[1, 6, 10, 8]

<div class = "alert alert-block alert-info"
    <b>24. Write a Pandas program convert the first and last character of each word to uppercase in each word of a given series.</div>   
</div>

In [25]:
s1 = pd.Series(['php','python','java','c#'])
print("Original Series:")
print(s1)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

In [26]:
result = s1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print(result)

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

<div class = "alert alert-block alert-info"
    <b>25. Write a Pandas program to calculate the number of characters in each word in a given series.</div>   
</div>

In [27]:
print("Original Series:")
print(s1)

result = s1.map(lambda x: len(x))
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object
0    3
1    6
2    4
3    2
dtype: int64

<div class = "alert alert-block alert-info"
    <b>26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.</div>   
</div>

In [28]:
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
print("Original Series:")
print(series1)
print("\nDifference of differences between consecutive numbers of the said series:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

<div class = "alert alert-block alert-info"
    <b>27. Write a Pandas program to convert a series of date strings to a timeseries.</div>   
</div>

In [29]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])

print("Original Series:")
print(date_series)

print("\nSeries of date strings to a timeseries:")
res = pd.to_datetime(date_series,format='mixed')  # Automatically infers the format and handles errors
print(res)

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

<div class = "alert alert-block alert-info"
    <b>28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.</div>   
</div>

In [30]:
print("Series of date strings to a timeseries:")
print(res)

print("\nDay of month:")
print(res.dt.day.tolist())

print("\nDay of year:")
print(res.dt.dayofyear.tolist())

print("\nWeek number:")
print(res.dt.isocalendar().week.tolist())

print("\nDay of week:")
print(res.dt.day_name().tolist())

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

Day of month:
[1, 2, 7, 6, 12, 6]

Day of year:
[1, 276, 66, 126, 103, 96]

Week number:
[1, 39, 10, 19, 15, 14]

Day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

<div class = "alert alert-block alert-info"
    <b>29. Write a Pandas program to convert year-month string to dates adding a specified day
of the month.</div>   
</div>

In [31]:
# Create a Series of month-year strings
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])

print("Original Series:")
print(date_series)

# Convert to datetime
result = pd.to_datetime(date_series,format='mixed')

# Create a new Series with the desired format
new_dates = result.map(lambda d: f'{d.year}-{d.month}-11')

print("\nNew dates:")
print(new_dates)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0    2015-1-11
1    2016-2-11
2    2017-3-11
3    2018-4-11
4    2019-5-11
dtype: object

<div class = "alert alert-block alert-info"
    <b>30. Write a Pandas program to filter words from a given series that contain atleast two
vowels.</div>   
</div>

In [32]:
from collections import Counter

df1 = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

# Filter for colors with at least two vowels
result = df1.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)

# Print the filtered Series
print(df1[result])

1     Green
2    Orange
4    Yellow
5     White
dtype: object

<div class = "alert alert-block alert-info"
    <b>31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line
distance between two points in Euclidean space. With this distance, Euclidean space
becomes a metric space. The associated norm is called the Euclidean norm.</b></div>   
</div>

In [33]:
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

<div class = "alert alert-block alert-info"
    <b>32. Write a Pandas program to find the positions of the values neighboured by smaller
values on both sides in a given series.</b></div>   
</div>

In [34]:
nums = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(nums)
print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

<div class = "alert alert-block alert-info"
    <b>33. Write a Pandas program to replace missing white spaces in a given string with the
least frequent character.</b></div>   
</div>

In [35]:
str1 = 'abc def abcdef icd'
print("Original series:")
print(str1)
ser = pd.Series(list(str1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Original series:
abc def abcdef icd
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64
abcidefiabcdefiicd

<div class = "alert alert-block alert-info"
    <b>34. Write a Pandas program to compute the autocorrelations of a given numeric series.
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a
delayed copy of itself as a function of delay. Informally, it is the similarity between
observations as a function of the time lag between them.</b></div>   
</div>

In [36]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(num_series)
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0    -12.535519
1      4.632693
2     -4.776282
3     23.762248
4      3.925320
5      9.980604
6      9.305337
7     10.696112
8     18.420534
9     14.286217
10    11.855837
11    23.710293
12     2.225746
13    25.042357
14    -4.539398
dtype: float64

Autocorrelations of the said series:
[-0.33, 0.59, -0.34, 0.13, 0.21, -0.13, -0.14, 0.15, -0.6, 0.5]

<div class = "alert alert-block alert-info"
    <b>35. Write a Pandas program to create a TimeSeries to display all the Sundays of given
year.</b></div>   
</div>

In [37]:
import pandas as pd
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

<div class = "alert alert-block alert-info"
    <b>36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.</b></div>   
</div>

In [38]:
char_list = list('ABCDEFGHIJKLMNOP')
num_arra = np.arange(8)
num_dict = dict(zip(char_list, num_arra))
num_ser = pd.Series(num_dict)
df = num_ser.to_frame().reset_index()
print(df.head())

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

<div class = "alert alert-block alert-info"
    <b>37. Write a Pandas program to stack two given series vertically and horizontally.</b></div>   
</div>

In [39]:
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))
vertical_stack = pd.concat([series1, series2], axis=0)
print("Vertical Stack:")
print(vertical_stack)

# Stacking Horizontally
horizontal_stack = pd.concat([series1, series2], axis=1)
print("\nHorizontal Stack:")
print(horizontal_stack)

Vertical Stack:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

Horizontal Stack:
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

<div class = "alert alert-block alert-info"
    <b>38. Write a Pandas program to check the equality of two given series.</b></div>   
</div>

In [40]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original Series:")
print(nums1)
print(nums2)
print("Check 2 series are equal or not?")
print(nums1 == nums2)

Original Series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

<div class = "alert alert-block alert-info"
    <b>39. Write a Pandas program to find the index of the first occurrence of the smallest and
largest value of a given series.</b></div>   
</div>

In [41]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print("Original Series:")
print(nums)
print("Index of the first occurrence of the smallest and largest value of the said series:")
print(nums.idxmin())
print(nums.idxmax())

Original Series:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4

<div class = "alert alert-block alert-info"
    <b>40. Write a Pandas program to check inequality over the index axis of a given dataframe
and a given series.</b></div>   
</div>

In [42]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True